./test_data
./coot-backup
./.vscode/
./multicopy_refinement.egg-info/
./__pycache__/
./MANIFEST.in
./multicopy_refinement/profiling_strcuture_factor_calculaiton.txt
./0-coot-history.py
./0-coot-history.scm
./multicopy_refinement/__pycache__/
./reverse_engineering/
./external_monomer_library/
./old/
./pytest_cache/
_temp.mtz
./scientific_testing/
# Ignore all __pycache__ folders anywhere in the repository
__pycache__/
*.pyc
*.pyo
# Large binary files
*.ccp4
*.png
make_flow_chart/
.matrices/
.vscode/
__pycache__/
*.py[cod]
./ruff_cache/
./cli_testing
claude
.out
.err
# Sphinx build output
docs/_build/
docs/api/